/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom Properties */
:root {
  /* Colors - Using HSL values instead of hsl() p->primary n->neutral*/
  --pclr-purple: 259 100% 65%;
  --pclr-light-red: 0 100% 67%;
  --nclr-white: 0 0% 100%;
  --nclr-off-white: 0 0% 94%;
  --nclr-light-grey: 0 0% 86%;
  --nclr-smokey-grey: 0 1% 44%;
  --nclr-off-black: 0 0% 8%;

  /* Typography */
  /* Fonts */
  --ff-primary: "Poppins", sans-serif;

  /* Weights */
  --fw-base: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* General Styles */
body {
  --body-font-size: 0.75rem;
  background-color: hsl(var(--nclr-light-grey));
  font-family: var(--ff-primary);
  font-weight: var(--fw-base);
  display: grid;
  place-content: center;
}

/* General app class */
.app {
  --border-accent-radius: 100px;
  max-width: 343px;
  background-color: hsl(var(--nclr-white));
  border-radius: 24px 24px var(--border-accent-radius) 24px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1.5rem;
  padding-block: 3rem;
}
@media (width<840px) {
  .app {
    max-width: 840px;
  }
}

/* top class */
form {
  display: flex;
  gap: 1rem;
}
section {
  display: grid;
  gap: 0.25em;
}

label {
  --label-font-size: 0.75rem;
  font-size: var(--label-font-size);
  letter-spacing: 0.25em;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(var(--nclr-smokey-grey));
}

input {
  outline: none;
  caret-color: hsl(var(--pclr-purple));
  width: 87.67px;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  border: solid 1px hsl(var(--nclr-light-grey));
}

input:focus {
  border: solid 1px hsl(var(--pclr-purple));
}

/* middle class */
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 100%;
  background-color: hsl(var(--pclr-purple));
  display: grid;
  place-content: center;
}
hr {
  height: 1px;
  flex: 1;
}

/* bottom class */
.bottom p {
  --output-font-size: 3.5rem;
  color: hsl(var(--nclr-off-black));
  font-style: italic;
  font-weight: var(--fw-extra-bold);
  font-size: var(--output-font-size);
}
p[data-number]:before {
  content: "--";
  color: hsl(var(--pclr-purple));
}
